<div id="{{id}}" class="chat">
	<div class="chat-head">
		<div class="chat-title">{{formated}}</div>
		<div class="remove-messenger fa fa-times"></div>
	</div>
	<div class='chat-box'>
		<div class='chat-wrapper'>
			<div class="chat-container"></div>
		</div>
	</div>
	<div class="user-container">
		<textarea type="text" class="cmd" placeholder="Press Enter to send"></textarea>
	</div>
<div>