<div class="chat">
	<div class="chat-head">
		<div class="chat-title">{{reciever}}</div>
		<div class="remove-messenger">X</div>
	</div>
	<div class="chat-container {{reciever}}"></div>
	<div class="user-container">
		<input type="text" class="cmd {{reciever}}" placeholder="Press Enter to send">
	</div>
<div>