<div class="chat">
	<div class="chat-head">
		<div class="chat-title">{{formated}}</div>
		<div class="remove-messenger">X</div>
	</div>
	<div class='chat-box'>
		<div class='chat-wrapper'>
			<div class="chat-container {{reciever}}"></div>
		</div>
	</div>
	<div class="user-container">
		<textarea type="text" class="cmd {{reciever}}" placeholder="Press Enter to send"></textarea>
	</div>
<div>