body{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

div.user-container{
	display: flex;
	width: 35%;
}

div.chat-container{
	width: 100%;
	height:300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

input.cmd{
	flex: 1;
}

