.add-messenger, .settings, .logout, .menu{
    z-index: 2;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.logout {
    position: absolute;
    top: 82px;
    left: -55;
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
    padding-bottom: 100px;

}


.logout-D{
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
}

.logout.fa.fa-sign-out {
    font-size: 48px;
    text-align: center;
}

.settings {
    position: absolute;
    top: 40px;
    left: -55px;
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
}

.settings-D{
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
}

.settings.fa.fa-cog {
    font-size: 47px;
    text-align: right;
}

.menu.fa.fa-bars {
    font-size: 40px;
    text-align: center;
}

.menu-unhover{
    color: rgba(0, 0, 0, 0.22);
}

.menu-hover{
    color: black;
}

.menu {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
}


.receiver{
    height: 36px;
    width: 0;
    border-width: 0;
    position: absolute;
    left: 50px;
    top: 13px;
    z-index: 2;
    border-radius: 4px;
    outline: none;
    border-style: solid;
    border-color: transparent;
    -webkit-transition: 0.25s all linear;
    transition: 0.25s all linear;
}


.add-messenger{
	cursor: pointer;
    position: absolute;
    top: 0;
    left: -50px;
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
}

.add-messenger.fa.fa-plus-square-o {
    text-align: right;
    font-size: 47px;
}