.menu-item{
    z-index: 5;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
    position: absolute;
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
    left: -55;
}

.menu-item:hover{
    padding-left: 15px;
}


.menu-area {
    position: absolute;
    height: 300px;
    width: 300px;
    z-index: 1;
    visibility: hidden;
}

.shift-left.fa.fa-caret-right {
    font-size: 75px;
    text-align: center;
    position: absolute;
    top: 40%;
    padding: 5px;
    right: -40px;
    color: rgba(0, 0, 0, 0.22);
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
    z-index: 1;

}

.shift-left.fa.fa-caret-right:hover {
    color: black;
    padding-right: 10px;
}

.shift-right.fa.fa-caret-left {
    font-size: 73px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: -40px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.22);
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
    z-index: 1;
}

.shift-right.fa.fa-caret-left:hover {
    color: black;
    padding-left: 10px;
}


.friends-list.fa.fa-users.menu-item {
    font-size: 40px;
    text-align: center;
    top: 84px;
}

.logout.fa.fa-sign-out {
    font-size: 48px;
    text-align: center;
    top: 124px;
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
    padding-bottom: 100px;
}

.settings.fa.fa-cog {
    font-size: 47px;
    text-align: right;
    top: 40px;
}


.menu.fa.fa-bars {
    font-size: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
    color: rgba(0, 0, 0, 0.22);
    padding: 10px;
    z-index: 2;
}

.menu.fa.fa-bars:hover {
    color: black;
}

.receiver{
    height: 36px;
    width: 0;
    border-width: 0;
    position: absolute;
    left: 50px;
    top: 13px;
    z-index: 2;
    border-radius: 4px;
    outline: none;
    border-style: solid;
    border-color: transparent;
    -webkit-transition: 0.25s all linear;
    transition: 0.25s all linear;
    z-index: 5;
}

.add-messenger.fa.fa-plus-square-o {
    text-align: right;
    font-size: 47px;
    top: 0;
    -webkit-transition: 0.25s all;
    transition: 0.25s all;
}
