{{#each friends}}
<div class="item">
    <div class="header">
        <div class="name">{{this}}</div>
        <div class="status">Online!</div>
    </div>
    <div class="footer">
        <div class="chat-start button">Chat</div>
        <div class="remove-friend button">Remove</div>
    </div>
</div>
{{/each}}