{{#each this}}
<div class="item">
    <div class="header">
        <div class="name">{{username}}</div>
        {{#if isOnline}}
        <div class="status">Online!</div>
        {{else}}
        <div class="status">Offline</div>
        {{/if}}
    </div>
    <div class="footer">
        <div class="chat-start button">Chat</div>
        <div class="remove-friend button">Remove</div>
    </div>
</div>
{{/each}}