<div class="request">
    <div class="name item">{{name}} wishes to chat with you</div>
    <div class="options item">              
        <div class="accept button">Accept</div>
        <div class="decline button">Decline</div>
    </div>
</div>
